@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-container">
    <div class="image-left">
        <img src="~/images/Home.jpeg" alt="ABC Retail" width="325" height="200">
        <img src="~/images/Home1.jpeg" alt="ABC Retail" width="325" height="200">
        <img src="~/images/Home2.jpeg" alt="ABC Retail" width="325" height="200">
    </div>
    <div class="text-center">
        <h1>Welcome to <i>ABC Retail</i>!</h1>
        <br>
        <p>
            ABC Retail is enthusiastic about providing an amazing shopping experience. Explore our broad product line, which includes everything from cutting-edge technology and current apparel to everyday basics and one-of-a-kind treasures. We're here to help you find high-quality things at low rates, while also providing convenience and dependability along the way.
        </p>
        <br>
        <h3>Why Choose Us?</h3>
        <h4>Seamless Shopping:</h4>
        <p>
            Enjoy an easy-to-navigate website, clear product information, and a quick checkout experience.
        </p>
        <h4>Quality Assurance:</h4>
        <p>
            We carefully choose things from reputable companies to ensure that you receive high-quality merchandise.
        </p>
        <h4>Fast Delivery:</h4>
        <p>
            Our effective shipping services will ensure that your items arrive fast and safely.
        </p>
        <br>
        <p>
            Thank you for selecting ABC Retail. We are thrilled to have you with us and look forward to providing you with the greatest online shopping experience possible. Whether you're looking for something specific or just browsing for ideas, we're here to make your shopping experience unforgettable.
        </p>
    </div>
</div>
