@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1><i>ABC Retail</i> Privacy Policy</i></h1>
    <br>
    <p>
        ABC Retail is dedicated to protecting your privacy. This policy describes how we collect, utilize, and secure your personal information.
    </p>
    <h3>Data Collection and Use</h3>
    <p>
        We gather personal information from you, such as your name, email address, phone number, and billing information, as well as transaction details and technical data like IP addresses and browser types. We use your information to fulfill orders, enhance our services, and send you updates and promotions with your permission.
    </p>
    <h3>Data Sharing and Security</h3>
    <p>
        We share your information with reputable third-party service providers for payment processing, shipping, and analytics, all with strict confidentiality. We may also release data when required by law or during commercial transactions, such as mergers. We use security precautions to secure your information, but we cannot guarantee total protection.
    </p>
    <h3>Your Rights</h3>
    <p>
        Your personal data can be accessed, updated, or deleted at your request. You may also opt out of marketing messages at any time.
    </p>
    <h3>Contact Us</h3>
    <p>
        Whether you are seeking assistance with an order or have a product inquiry, we are dedicated to providing you with exceptional customer service. Do not hesitate to reach out – we look forward to hearing from you!
    </p>
    <br>
    <h4>Email:</h4>
    <p>
        <a href="mailto:contact@abcretail.com">contact@abcretail.com</a>
    </p>
    <br>
    <h4>Phone:</h4>
    <p>(+27)76 434 9876</p>
    <br>
    <h4>Address:</h4>
    <p>
        146 Retail Road,<br>
        Durban North,<br>
        Durban,<br>
        South Africa
    </p>
    <br>
    <h4>Customer Service Hours:</h4>
    <p>Monday-Friday: 9:00 AM - 5:00 PM (SAST)</p>
    <br>
    <h4>Social Media:</h4>
    <p>
        Stay updated on the latest news, sales, and behind-the-scenes glimpses by following us on social media:
    </p>
    <br>
    <p style="color: cornflowerblue;">
        <b>Facebook:</b> <a href="https://www.facebook.com" target="_blank">abcretail</a><br>
        <b>Instagram:</b> <a href="https://www.instagram.com" target="_blank">abcretail_official</a><br>
        <b>Pinterest:</b> <a href="https://www.pinterest.com" target="_blank">abcretail</a>
    </p>
</div>