@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1>About <i>ABC Retail</i></h1>
    <br>
    <h3>Our Story and Mission</h3>
    <p>
        ABC Retail is devoted to changing the shopping experience. Founded on the ideals of quality, convenience, and customer happiness, we endeavor to provide you with a diverse range of items that meet your lifestyle requirements.
        Our mission is to provide a seamless and enjoyable shopping experience by offering high-quality products, exceptional customer service, and efficient delivery. We believe in making online shopping easy, accessible, and enjoyable for everyone.
    </p>
    <div>
        <img src="~/images/AboutUs1.jpg" alt="About Us" style="width: 100%; height: 300px; max-width: 600px;">
    </div>
    <br>
    <h3>Our Values</h3>
    <h4>Customer First:</h4>
    <p>
        Your satisfaction is at the heart of everything we do. We’re committed to delivering excellent service and addressing your needs promptly. online shopping easy, accessible, and enjoyable for everyone.
    </p>
    <h4>Quality Commitment:</h4>
    <p>
        We acquire items from reputable companies and guarantee that each one satisfies our high quality requirements.
    </p>
    <h4>Innovation:</h4>
    <p>
        We are always improving our platform and services to better your shopping experience and stay current with the newest trends.
    </p>
    <br>
    <h3>Meet the Team</h3>
    <p>
        Our staff is made up of devoted individuals that are enthusiastic about giving you the greatest shopping experience possible. ABC Retail's customer service agents and logistics professionals work together to assure your total pleasure.
    </p>
    <br>
    <div class="team-images">
        <img src="~/images/team2.jpg" alt="Team Member 1">
        <img src="~/images/team3.jpeg" alt="Team Member 2">
        <img src="~/images/team.jpeg" alt="Team Member 3">
        <img src="~/images/team4.jpeg" alt="Team Member 4">
        <img src="~/images/team1.jpeg" alt="Team Member 5">
    </div>
    <br>
    <p>
        Thank you for selecting ABC Retail. We are thrilled to have you as a member of our community and look forward to treating you!
    </p>
</div>
